.app-download {
  background-color: @color-sapphire-blue;
  padding-left: 20px;
  padding-right: 20px;
}

.app-download__link {
  .font-config(300; 20px; 20px);
  text-decoration: none;
  color: @color-white;
  padding: 21px 38px;
  display: inline-block;
  border: 3px solid @color-white;
  border-radius: 29px;
  box-sizing: border-box;
}
