.button {
  font-family: inherit;
  .font-config(700, 18px, 30px);
  background-color: @color-jade;
  border: none;
  border-radius: 1px;
  color: @color-white;
  padding: 23px 30px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: @color-green-sea;
  }

  &:active {
    color: rgba(@color-white, 30%);
  }

  &:disabled {
    background-color: @color-light-gray;
  }
}
