.card-list {
  .list-reset;
  padding-left: 20px;
  padding-right: 20px;
  max-width: @width-desktop;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: @width-tablet) {
  .card-list {
    display: grid;
    grid-template-columns: minmax(20px, auto) 1fr 1fr minmax(20px, auto);
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: @width-desktop) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
