.catalog {
  overflow-x: hidden;
  margin-top: 30px;
  margin-bottom: 20px;
}

.catalog__header {
  background-color: @color-granite;
}

.catalog__headline {
  display: flex;
  min-height: 235px;
  max-width: @width-desktop;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.catalog__subtitle {
  .font-config(400, 14px, 30px);
  color: @color-granite;
  text-align: center;
}

.catalog__title {
  color: @color-white;
}

.catalog .container {
  margin-bottom: 48px;
}

@media (min-width: @width-tablet) {
  .catalog {
    margin-top: 75px;
  }

  .catalog .container {
    margin-bottom: 75px;
  }

  .catalog__subtitle {
    font-size: 18px;
    margin-right: 70px;
    margin-left: 70px;
  }

  .catalog__subtitle--break {
    display: none;
  }

  .catalog .catalog__list {
    margin-bottom: 25px;
  }
}
