.catalog__header {
  background-color: @color-granite;
}

.catalog__subtitle {
  .font-config(400, 14px, 30px);
  color: @color-granite;
  text-align: center;
}

.catalog__title {
  color: @color-white;
}
