.footer__block {
  text-align: center;
}

.footer__subtitle {
  .font-config(700, 18px, 25px);
  color: @color-granite;
}

.footer__link {
  .font-config(300, 24px, 33px);
  text-decoration: none;
  color: @color-purplish-red;
  font-style: normal;
}

.footer__developer {
  .font-config(400, 14px, 18px);
  text-decoration: none;
  color: @color-granite;
}
