.form-share {
  background-color: @color-smoky-white;
}

.form-share__list {
  .list-reset;
}

.form-share__submit {
  font-family: inherit;
  .font-config(700, 18px, 18px);
  padding: 21px 30px;
  color: @color-purplish-red;
  border: 3px solid @color-purplish-red;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: @color-white;
    background-color: @color-purplish-red;
  }

  &:active {
    color: rgba(@color-white, 30%);
  }
}

.form-share__reset {
  font-family: inherit;
  .font-config(700, 18px, 18px);
  padding: 21px 30px;
  color: rgba(@color-granite, 10%);
  border: 3px solid rgba(@color-granite, 10%);
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: rgba(@color-granite, 30%);
    color: rgba(@color-granite, 30%);
  }

  &:active {
    background-color: @color-granite;
    color: @color-white;
    opacity: 0.3;
  }
}
