.form-share {
  background-color: @color-smoky-white;
  display: grid;
  grid-template-areas:
    "image"
    "tools"
    "tool-range"
    "submit-button"
    "reset-button";
  gap: 20px;
  padding: 20px 20px 50px;
}

.form-share__user-upload {
  text-align: center;
  grid-area: image;
}

.form-share__list {
  .list-reset;
  grid-area: tools;
}

.form-share__list .form-share__range {
  display: none;
}

.form-share__control {
  grid-area: tool-range;
}

.form-share__submit {
  grid-area: submit-button;
  font-family: inherit;
  .font-config(700, 18px, 18px);
  padding: 21px 30px;
  color: @color-purplish-red;
  border: 3px solid @color-purplish-red;
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: @color-white;
    background-color: @color-purplish-red;
  }

  &:active {
    color: rgba(@color-white, 30%);
  }
}

.form-share__reset {
  grid-area: reset-button;
  font-family: inherit;
  .font-config(700, 18px, 18px);
  padding: 21px 30px;
  color: rgba(@color-granite, 10%);
  border: 3px solid rgba(@color-granite, 10%);
  background-color: transparent;
  border-radius: 30px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border-color: rgba(@color-granite, 30%);
    color: rgba(@color-granite, 30%);
  }

  &:active {
    background-color: @color-granite;
    color: @color-white;
    opacity: 0.3;
  }
}

@media (min-width: @width-tablet) {
  .form-share {
    grid-template-areas:
      "image tools"
      "image tools"
      "image tools"
      "image submit-button"
      "image reset-button";
  }

  .form-share__control {
    display: none;
  }

  .form-share__list .form-share__range {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: @width-desktop) {
  .form-share {
    grid-template-columns: 1fr repeat(4, minmax(auto, 235px)) 1fr;
    grid-template-areas:
      ". image image tools tools ."
      ". image image submit-button reset-button .";
    padding-left: 0;
    padding-right: 0;
  }
}
