.get-app {
  display: grid;
  padding-top: 25px;
  grid-template-columns: 1fr repeat(2, minmax(auto, calc(@width-desktop / 2))) 1fr;
  grid-template-rows: max-content minmax(285px, auto) max-content;

  &::before {
    content: "";
    width: 100%;
    min-height: 462px;
    background-image: url("../../img/look-life-differently-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    background-color: @color-sapphire-blue;
    top: 0;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../../img/look-life-differently-mobile@2x.jpg");
    }
  }
}

.get-app__title {
  grid-column: ~"2/4";
  grid-row: ~"1/2";
  color: @color-white;
  display: block;
  line-height: 28.8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 27px;
}

.get-app__download {
  position: relative;
  grid-column: ~"2/4";
  grid-row: ~"5/6";
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;

  &::before {
    content: "";
    width: 320px;
    height: 286px;
    background-image: url("../../img/pink-app-example-m.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-resolution: 2dppx) {
    &::before {
      background-image: url("../../img/pink-app-example-m@2x.png");
    }
  }
}

@media (min-width: @width-tablet) {
  .get-app {
    grid-template-columns: 1fr repeat(2, minmax(310px, calc(@width-desktop / 2))) 1fr;
    grid-template-rows: auto;
    padding-top: 95px;
    padding-bottom: 34px;

    &::before {
      min-height: 729px;
      background-image: url("../../img/look-life-differently-tablet@1x.jpg");
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../img/look-life-differently-tablet@2x.jpg");
      }
    }
  }

  .get-app__title {
    .font-config(300, 40px, 48px);
    grid-column: ~"2/3";
    padding-right: 10px;
    margin-bottom: 0;
  }

  .get-app__download {
    grid-column: ~"2/3";
    position: static;

    &::before {
      background-image: url("../../img/pink-app-example-t.png");
      width: 660px;
      height: 545px;
      bottom: 54px;
      z-index: -1;
    }

    @media (min-resolution: 2dppx) {
      &::before {
        background-image: url("../../img/pink-app-example-t@2x.png");
      }
    }
  }
}

@media (min-width: @width-desktop) {
  .get-app__title {
    .font-config(300, 50px, 68px);
  }
}
