.page-header {
  background-color: @color-granite;
}

.page-header__wrap {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  padding-top: 23px;
}

.page-header__logo {
  grid-column: ~"1/1";
  margin-left: 20px;
  margin-bottom: 20px;
}

.page-header__toggle {
  font-family: inherit;
  justify-self: flex-end;
  margin-right: 20px;
  margin-top: -5px;
  grid-column: ~"2/-1";
  width: 50px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: @color-white;
    left: 24px;
    transform: rotate(45deg);
    top: 15px;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: @color-purplish-red;
  }

  &:active::before,
  &:active::after {
    background-color: rgba(@color-purplish-red, 30%);
  }
}

.page-header__toggle--hamburger {
  &::before {
    transform: rotate(0deg);
    top: 3px;
    height: 3px;
    width: 48px;
    left: 0;
  }

  &::after {
    transform: rotate(0deg);
    height: 3px;
    width: 48px;
    left: 0;
    top: 13px;
    box-shadow: 0 10px 0 0 @color-white;
  }

  &:hover::after {
    box-shadow: 0 10px 0 0 @color-purplish-red;
  }

  &:active::after {
    box-shadow: 0 10px 0 0 rgba(@color-purplish-red, 30%);
  }
}

.page-header__nav--closed {
  display: none;
}


.page-header__nav {
  grid-column: ~"1 / -1";
}

@media (min-width: @width-tablet) {
  .page-header__wrap {
    padding-top: 26px;
  }

  .page-header__logo {
    margin-bottom: 40px;
  }

  .page-header__toggle {
    margin-top: 12px;
  }
}

@media (min-width: @width-desktop) {
  .page-header__wrap {
    max-width: @width-desktop;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 200px 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    grid-column: ~"2/-1";
    display: block;
    margin-top: 6px;
  }
}
