.post__content {
  background-color: @color-smoky-white;
}

.post__user-name {
  .font-config(700, 14px, 24px);
  color: @color-granite;
}

.post__time {
  .font-config(300, 12px, 24px);
  text-transform: uppercase;
}

.post__comment {
  .font-config(400, 14px, 24px);
  color: @color-granite;
}

.post__like {
  .font-config(400, 12px, 24px);
  color: @color-purplish-red;
  text-transform: uppercase;
}
