.table-price {
  border-spacing: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-collapse: collapse;
}

// .table-price__row th:first-child {
//   display: none;
// }

.table-price__title {
  .font-config(700, 16px, 30px);
  border-right: 2px solid @color-smoky-white;
  background-color: @color-granite;
  color: @color-white;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.table-price__title:nth-child(2) {
  border-top-left-radius: 3px;
}

.table-price__title:nth-child(3) {
  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: 14px;
    transform: rotate(-45deg);
    height: 20px;
    width: 200px;
    background-color: @color-purplish-red;
  }

  &::after {
    content: "хит";
    .font-config(400, 14px, 30px);
    position: absolute;
    left: -80px;
    top: 10px;
    transform: rotate(-45deg);
    width: 200px;
    text-align: center;
    .font-config(400, 14px, 30px);
  }
}

.table-price__title:last-child {
  border-top-right-radius: 3px;
}

.table-price__body td {
  .font-config(400, 14px, 30px);
  color: @color-granite;
  border: 2px solid @color-light-gray;
  background-color: @color-white;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  text-transform: uppercase;
  width: 25%;
  min-width: 150px;
  position: relative;
  z-index:-1
}

.table-price__title-small {
  .font-config(300, 18px, 30px);
}

.table-price__yes,
.table-price__no {

  &::before {
    content: "";
    background-image: url("../img/mark-yes.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 31px;
    height: 21px;
    margin: auto;
  }
}

.table-price__no {

  &::before {
    background-image: url("../img/mark-no.svg");
    width: 27px;
    height: 27px;
  }
}

@media (min-width: @width-tablet) {
  .table-price {
    border-spacing: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    border-collapse: collapse;
  }

  .table-price__title {
    .font-config(700, 16px, 30px);
    border-right: 2px solid @color-smoky-white;
    background-color: @color-granite;
    color: @color-white;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 5px;
    position: relative;
    overflow: hidden;
    z-index: -1;
  }

  .table-price__title:nth-child(2) {
    border-top-left-radius: 3px;
  }

  .table-price__title:nth-child(3) {
    &::before {
      content: "";
      position: absolute;
      left: -80px;
      top: 14px;
      transform: rotate(-45deg);
      height: 20px;
      width: 200px;
      background-color: @color-purplish-red;
    }

    &::after {
      content: "хит";
      .font-config(400, 14px, 30px);
      position: absolute;
      left: -80px;
      top: 10px;
      transform: rotate(-45deg);
      width: 200px;
      text-align: center;
      .font-config(400, 14px, 30px);
    }
  }

  .table-price__title:last-child {
    border-top-right-radius: 3px;
  }

  .table-price__body td {
    .font-config(400, 14px, 30px);
    color: @color-granite;
    border: 2px solid @color-light-gray;
    background-color: @color-white;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    text-transform: uppercase;
    width: 25%;
    min-width: 150px;
    position: relative;
    z-index:-1
  }

  .table-price__title-small {
    .font-config(300, 18px, 30px);
  }

  .table-price__yes,
  .table-price__no {

    &::before {
      content: "";
      background-image: url("../img/mark-yes.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 31px;
      height: 21px;
      margin: auto;
    }
  }

  .table-price__no {

    &::before {
      background-image: url("../img/mark-no.svg");
      width: 27px;
      height: 27px;
    }
  }
  .table-price__body td {
    text-transform: none;
  }
}
