.table-price {
  border-spacing: 0;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table-price__header {
  background-color: @color-granite;
}

.table-price__row {
  position: relative;
  padding-left: 23px;
  padding-right: 23px;
  text-align: center;
}

// .table-price__row--main::before {
//   content: "Хит";
//   text-transform: uppercase;
//   position: absolute;
//   left: 0;
//   top: 0;
//   transform: rotate(-45deg);
//   height: auto;
//   width: 74px;
//   outline: 1px solid red;
//   font-size: 14px;
//   line-height: 30px;
// }

.table-price__body {
  .font-config(400, 14px, 30px);
  color: @color-granite;
  text-transform: uppercase;
}
