// fonts
.font-config(@weight: 400; @size: 20px; @line-height: 100%;) {
  font-size: @size;
  font-weight: @weight;
  line-height: @line-height;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
